.odd {
  background-color: rgb(235, 208, 230);
}

.even {
  background-color: rgb(221, 207, 235);
}

.news{
  border: 1px dashed rgb(210, 220, 235)
}

.button{
  height: 30px;
  border: 1px outset rgb(210, 220, 235)
}